<div class="centered-content">

    <div class="contact-manager-container">

        
      <div class="contacts has-background-white">
        <h1 class="title has-text-primary">
            Contacts<br>
            <input class="input" type="text" placeholder="Search contact">
        </h1>

        <div class="contact-menu">
            <a class="contact-menu-item active">
                <p>Contact 1</p>
            </a>

            <a class="contact-menu-item">
                <p>Contact 1</p>
            </a>

            <a class="contact-menu-item">
                <p>Contact 1</p>
            </a>

        </div>

        <button class="button is-primary has-text-white">+ Contact</button>
      </div>

       <div class="contact-detail-container has-background-light">
          <h1 class="title has-text-primary">
            Contact info
          </h1>

          <div class="contact-detail-menu">
            <h2>Name</h2>
            
              
                <div class="contact-detail-item">
                  <h3>Phone No</h3><br>
                  <a class="contact-detail-itemnum">
                   <h4>Contact 1</h4><p>9413658566</p>
                  </a>
                  <a class="contact-detail-itemnum">
                   <h4>Contact 2</h4><p>9413658568</p>
                  </a>
                </div>

                <div class="contact-detail-item">
                    <h3>Emails</h3><br>
                    <a class="contact-detail-itemnum">
                     <h4>Email 1</h4><p>abc@gmail.com</p>
                    </a>
                    <a class="contact-detail-itemnum">
                     <h4>Email 2</h4><p>efg@gmail.com</p>
                    </a>
                 </div>
                

          </div>

          <div class="contact-detail-menu-null">
            
                <div class="contact-detail-item">
                  <h2>No Contact Selected</h2>
                </div>

          </div>

          <button class="button is-danger has-text-white">Edit Contact</button>

        </div>

    </div>

    

</div>
