<div class="centered-content">
    <div class="contact-manager-container">
    
    
        <form class="signupform" #loginForm="ngForm">
            
            <h3 class="title">Login</h3>

            <p><input type="email" class="fields" id="enrollemail" value="" placeholder="email" name="email" [(ngModel)]="loginModel.email"> </p>
            <p><input type="password" class="fields" id="pass2" value="" placeholder="Enter password" 
                #password name="password" [(ngModel)]="loginModel.password"> </p>
            <!--<a routerLink="/"><button class="button is-primary" id="signupbtn">Login</button></a>-->
            <button class="button is-primary" id="signupbtn">Login</button>
            <p class="message">Not registered?  <a routerLink="/user">Sign up</a></p>
        </form>
    
    
    
    </div>
    </div>
